<header
  class="w-full flex items-center justify-between p-5 shadow-2xl text-white px-30"
>
  <h1 class="font-bold text-2xl">
    <a href="/">MGS</a><span class="text-[#AD46FF]">.</span>
  </h1>
  <nav class="flex space-x-8">
    <a href="#habilidades">Skills</a>
    <a href="#experiencia">Experience</a>
    <a href="#projetos">Projects</a>
    <a href="#contato">Contact-me</a>
  </nav>
</header>
