@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100..900&display=swap");

@layer base {
  html {
    font-family: "JetBrains Mono", monospace;
  }
}
#hello::after,
#name::after {
  content: "|";
  animation: blink 1s infinite;
  color: white;
}
