<section class="w-full min-h-screen py-10" id="habilidades">
  <h2 class="text-4xl text-purple-500 font-bold text-center mb-10">
    Habilidades
  </h2>

  <%- include('../partials/slider') %>

  <div class="grid gap-8 md:grid-cols-2 max-w-5xl mx-auto my-20">
    <!-- CARD FRONTEND -->
    <div
      class="w-full p-6 bg-white border border-gray-200 rounded-2xl shadow-sm dark:bg-gray-800 dark:border-gray-700"
    >
      <h5 class="mb-3 text-xl font-semibold text-gray-900 dark:text-white">
        Front-end
      </h5>
      <p class="text-sm text-gray-500 dark:text-gray-400 mb-4">
        Technologies I use to create modern, responsive, and high-performance
        interfaces.
      </p>
      <ul class="space-y-3">
        <li>
          <span
            class="flex items-center p-3 text-base font-medium text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:text-white transition-all"
          >
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg"
              class="h-6 w-6"
            />
            <span class="ml-3">HTML5</span>
          </span>
        </li>
        <li>
          <span
            class="flex items-center p-3 text-base font-medium text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:text-white transition-all"
          >
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg"
              class="h-6 w-6"
            />
            <span class="ml-3">JavaScript</span>
          </span>
        </li>
        <li>
          <span
            class="flex items-center p-3 text-base font-medium text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:text-white transition-all"
          >
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg"
              class="h-6 w-6"
            />
            <span class="ml-3">TypeScript</span>
          </span>
        </li>
        <li>
          <span
            class="flex items-center p-3 text-base font-medium text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:text-white transition-all"
          >
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg"
              class="h-6 w-6"
            />
            <span class="ml-3">React.js</span>
          </span>
        </li>
        <li>
          <span
            class="flex items-center p-3 text-base font-medium text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:text-white transition-all"
          >
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/tailwindcss/tailwindcss-plain.svg"
              class="h-6 w-6"
            />
            <span class="ml-3">Tailwind CSS</span>
          </span>
        </li>
        <li>
          <span
            class="flex items-center p-3 text-base font-medium text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:text-white transition-all"
          >
            <img
              src="https://shadcn.dev/logo.png"
              class="h-6 w-6 rounded-full bg-white"
            />
            <span class="ml-3">ShadCN</span>
          </span>
        </li>
      </ul>
    </div>

    <!-- CARD BACKEND -->
    <div
      class="w-full p-6 bg-white border border-gray-200 rounded-2xl shadow-sm dark:bg-gray-800 dark:border-gray-700"
    >
      <h5 class="mb-3 text-xl font-semibold text-gray-900 dark:text-white">
        Back-end
      </h5>
      <p class="text-sm text-gray-500 dark:text-gray-400 mb-4">
        Technologies I use for API development, databases, and messaging.
      </p>
      <ul class="space-y-3">
        <li>
          <span
            class="flex items-center p-3 text-base font-medium text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:text-white transition-all"
          >
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-original.svg"
              class="h-6 w-6"
            />
            <span class="ml-3">Node.js</span>
          </span>
        </li>
        <li>
          <span
            class="flex items-center p-3 text-base font-medium text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:text-white transition-all"
          >
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/express/express-original.svg"
              class="h-6 w-6 bg-white rounded"
            />
            <span class="ml-3">Express</span>
          </span>
        </li>
        <li>
          <span
            class="flex items-center p-3 text-base font-medium text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:text-white transition-all"
          >
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/postgresql/postgresql-original.svg"
              class="h-6 w-6"
            />
            <span class="ml-3">PostgreSQL</span>
          </span>
        </li>
        <li>
          <span
            class="flex items-center p-3 text-base font-medium text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:text-white transition-all"
          >
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-original.svg"
              class="h-6 w-6"
            />
            <span class="ml-3">MySQL</span>
          </span>
        </li>
        <li>
          <span
            class="flex items-center p-3 text-base font-medium text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:text-white transition-all"
          >
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typeorm/typeorm-original.svg"
              class="h-6 w-6 bg-white rounded"
            />
            <span class="ml-3">TypeORM</span>
          </span>
        </li>
        <li>
          <span
            class="flex items-center p-3 text-base font-medium text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:text-white transition-all"
          >
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nestjs/nestjs-plain.svg"
              class="h-6 w-6"
            />
            <span class="ml-3">NestJS</span>
          </span>
        </li>
        <li>
          <span
            class="flex items-center p-3 text-base font-medium text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:text-white transition-all"
          >
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/prisma/prisma-original.svg"
              class="h-6 w-6"
            />
            <span class="ml-3">PrismaORM</span>
          </span>
        </li>
        <li>
          <span
            class="flex items-center p-3 text-base font-medium text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:text-white transition-all"
          >
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/7/71/RabbitMQ_logo.svg"
              class="h-6 w-6"
            />
            <span class="ml-3">RabbitMQ</span>
          </span>
        </li>
        <li>
          <span
            class="flex items-center p-3 text-base font-medium text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:text-white transition-all"
          >
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mongodb/mongodb-original.svg"
              class="h-6 w-6"
            />
            <span class="ml-3">MongoDB</span>
          </span>
        </li>
      </ul>
    </div>

    <!-- CARD TOOLS -->
    <div
      class="w-full p-6 bg-white border border-gray-200 rounded-2xl shadow-sm dark:bg-gray-800 dark:border-gray-700"
    >
      <h5 class="mb-3 text-xl font-semibold text-gray-900 dark:text-white">
        Tools
      </h5>
      <p class="text-sm text-gray-500 dark:text-gray-400 mb-4">
        Tools I use in my development workflow.
      </p>
      <ul class="space-y-3">
        <li>
          <span
            class="flex items-center p-3 text-base font-medium text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:text-white transition-all"
          >
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/vscode/vscode-original.svg"
              alt="VS Code"
              class="h-6 w-6"
            />
            <span class="ml-3">VS Code</span>
          </span>
        </li>
        <li>
          <span
            class="flex items-center p-3 text-base font-medium text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:text-white transition-all"
          >
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/npm/npm-original-wordmark.svg"
              alt="NPM"
              class="h-6 w-6"
            />
            <span class="ml-3">NPM</span>
          </span>
        </li>
        <li>
          <span
            class="flex items-center p-3 text-base font-medium text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:text-white transition-all"
          >
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg"
              alt="GitHub"
              class="h-6 w-6"
            />
            <span class="ml-3">GitHub</span>
          </span>
        </li>
        <li>
          <span
            class="flex items-center p-3 text-base font-medium text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:text-white transition-all"
          >
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/git/git-original.svg"
              alt="Git"
              class="h-6 w-6"
            />
            <span class="ml-3">Git</span>
          </span>
        </li>
        <li>
          <span
            class="flex items-center p-3 text-base font-medium text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:text-white transition-all"
          >
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/docker/docker-original.svg"
              alt="Docker"
              class="h-6 w-6"
            />
            <span class="ml-3">Docker</span>
          </span>
        </li>
        <li>
          <span
            class="flex items-center p-3 text-base font-medium text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:text-white transition-all"
          >
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/vite/vite-original.svg"
              alt="Vite"
              class="h-6 w-6"
            />
            <span class="ml-3">Vite</span>
          </span>
        </li>
        <li>
          <span
            class="flex items-center p-3 text-base font-medium text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:text-white transition-all"
          >
            <img
              src="https://upload.wikimedia.org/wikipedia/commons/3/3b/Vercel_logo.svg"
              class="h-6 w-6"
            />
            <span class="ml-3">Vercel</span>
          </span>
        </li>
        <li>
          <span
            class="flex items-center p-3 text-base font-medium text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:text-white transition-all"
          >
            <img
              src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/figma/figma-original.svg"
              alt="Figma"
              class="h-6 w-6"
            />
            <span class="ml-3">Figma</span>
          </span>
        </li>
      </ul>
    </div>

    <!-- CARD SOFT SKILLS -->
    <div
      class="w-full p-6 bg-white border border-gray-200 rounded-2xl shadow-sm dark:bg-gray-800 dark:border-gray-700"
    >
      <h5 class="mb-3 text-xl font-semibold text-gray-900 dark:text-white">
        Soft Skills
      </h5>
      <p class="text-sm text-gray-500 dark:text-gray-400 mb-4">
        Interpersonal and behavioral skills that contribute to good teamwork and
        professional development.
      </p>
      <ul class="space-y-3">
        <li>
          <span
            class="flex items-center p-3 text-base font-medium text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:text-white transition-all"
          >
            <span class="ml-3">Comunicação</span>
          </span>
        </li>
        <li>
          <span
            class="flex items-center p-3 text-base font-medium text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:text-white transition-all"
          >
            <span class="ml-3">Resiliência</span>
          </span>
        </li>
        <li>
          <span
            class="flex items-center p-3 text-base font-medium text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:text-white transition-all"
          >
            <span class="ml-3">Liderança</span>
          </span>
        </li>
        <li>
          <span
            class="flex items-center p-3 text-base font-medium text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:text-white transition-all"
          >
            <span class="ml-3">Autonomia</span>
          </span>
        </li>
        <li>
          <span
            class="flex items-center p-3 text-base font-medium text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:text-white transition-all"
          >
            <span class="ml-3">Flexibilidade e Adaptabilidade</span>
          </span>
        </li>
        <li>
          <span
            class="flex items-center p-3 text-base font-medium text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:text-white transition-all"
          >
            <span class="ml-3">Trabalho em equipe</span>
          </span>
        </li>
        <li>
          <span
            class="flex items-center p-3 text-base font-medium text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:text-white transition-all"
          >
            <span class="ml-3">Solução de problemas</span>
          </span>
        </li>
        <li>
          <span
            class="flex items-center p-3 text-base font-medium text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:text-white transition-all"
          >
            <span class="ml-3">Pensamento analítico</span>
          </span>
        </li>
        <li>
          <span
            class="flex items-center p-3 text-base font-medium text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:text-white transition-all"
          >
            <span class="ml-3">Metodologia Ágil (Scrum)</span>
          </span>
        </li>
        <li>
          <span
            class="flex items-center p-3 text-base font-medium text-gray-900 rounded-lg bg-gray-50 hover:bg-gray-100 dark:bg-gray-700 dark:hover:bg-gray-600 dark:text-white transition-all"
          >
            <span class="ml-3">Gestão de tempo</span>
          </span>
        </li>
      </ul>
    </div>
  </div>
</section>
