<section class="w-full h-full">
  <h2 class="text-4xl text-purple-500 font-bold text-center my-20">
    Sobre mim
  </h2>
<div class="flex justify-center items-center w-full mb-20">
    <div class="rounded-lg shadow-xl bg-gray-900 text-white" style="width:450px;">
        <div class="border-b border-gray-800 px-8 py-3">
            <div class="inline-block w-3 h-3 mr-2 rounded-full bg-red-500"></div><div class="inline-block w-3 h-3 mr-2 rounded-full bg-yellow-300"></div><div class="inline-block w-3 h-3 mr-2 rounded-full bg-green-400"></div>
        </div>
        <div class="px-8 py-6">
            <p><em class="text-blue-400">const</em> <span class="text-green-400">aboutMe</span> <span class="text-pink-500">=</span> <em class="text-blue-400">function</em>() {</p>
            <p>&nbsp;&nbsp;<span class="text-pink-500">return</span> {</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;name: <span class="text-yellow-300">'Matheus Germano da Silva'</span>,</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;wanna be: <span class="text-yellow-300">'Software Developer'</span>,</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;university: <span class="text-yellow-300">'<a href="#" target="_blank" class="text-yellow-300 hover:underline focus:border-none">FATEC</a>'</span>,</p>
            <p>&nbsp;&nbsp;}</p>
            <p>}</p>
        </div>
    </div>
  </div>
  <div class="max-w-3xl mx-auto text-center text-gray-300 text-lg ">
    <p class="mb-6">
      Olá! Me chamo Matheus Germano, tenho 22 anos e sou um desenvolvedor fullstack em formação na FATEC Jessen Vidal. 
      Atualmente estou no 3º semestre do curso de Análise e Desenvolvimento de Sistemas.
    </p>
    
    <p class="mb-6">
      Minha paixão por tecnologia começou cedo e desde então venho me especializando em desenvolvimento backend, 
      com foco em Node.js e TypeScript. Tenho experiência prática com Python (LLMs e Pandas), além de criar aplicações desktop com JavaFX.
    </p>

  </div>
</section>
