<section class="w-full h-[80vh] mt-5" id="experience">
  <h2 class="text-4xl text-purple-500 font-bold text-center mb-15">
    Professional Experience
  </h2>

  <section class="w-full min-h-screen py-12 px-4 sm:px-6 lg:px-8">

  
    <div class="max-w-4xl mx-auto space-y-8">
      <!-- Card 1 -->
      <div
        class="flex flex-col sm:flex-row items-start bg-white rounded-lg shadow-lg overflow-hidden transition-transform duration-300 hover:scale-[1.02]"
      >

        <div class="w-full sm:w-1/4 p-4 flex justify-center sm:justify-start">
          <img
            src="/images/inpe.png"
            alt="Fatec logo"
            class="w-32 h-32 sm:w-40 sm:h-40 rounded-full object-cover border-4 border-purple-200"
          />
        </div>
  

        <div class="w-full sm:w-3/4 p-6">
          <h3 class="text-2xl font-bold text-purple-700 mb-2">
            National Institute for Space Research
          </h3>
          <p class="text-lg text-gray-600 mb-2">
            Network Intern
          </p>
          <p class="text-gray-500 mb-4">2022-2023</p>
          <p class="text-gray-700">
            During my internship, I worked both in the networking department and in the maintenance of microcomputers, performing essential functions for the institution's technological infrastructure, as well as creating internal procedures and providing IT support.
          
            In the networking area, I managed DHCP, DNS, SAMBA servers, among others. I was responsible for managing the Active Directory (AD). I have experience with various Linux distributions, including Debian, Gentoo, Rocky Linux, and CentOS. Additionally, I worked with the installation and management of hypervisors and virtual machines.
            
            I also have experience in assembling and cleaning computers, as well as formatting and installing Windows, Linux, and macOS operating systems. I gained knowledge of IT best practices and the application of ITIL methodology concepts.
          </p>
          
        </div>
      </div>
 
  </section>
  
</section>
