<section class="w-full h-[80vh] mt-5" id="experience">
  <h2 class="text-4xl text-purple-500 font-bold text-center mb-15">
    Professional Experience
  </h2>

  <section class="w-full min-h-screen py-12 px-4 sm:px-6 lg:px-8">

  
    <div class="max-w-4xl mx-auto space-y-8">
      <!-- Card 1 -->
      <div
        class="flex flex-col sm:flex-row items-start bg-white rounded-lg shadow-lg overflow-hidden transition-transform duration-300 hover:scale-[1.02]"
      >

        <div class="w-full sm:w-1/4 p-4 flex justify-center sm:justify-start">
          <img
            src="/images/inpe.png"
            alt="Fatec logo"
            class="w-32 h-32 sm:w-40 sm:h-40 rounded-full object-cover border-4 border-purple-200"
          />
        </div>
  

        <div class="w-full sm:w-3/4 p-6">
          <h3 class="text-2xl font-bold text-purple-700 mb-2">
            Instituto Nacional de Pesquisas Espaciais
          </h3>
          <p class="text-lg text-gray-600 mb-2">
            Estagiário de Redes
          </p>
          <p class="text-gray-500 mb-4">2022-2023</p>
          <p class="text-gray-700">
            Durante meu estágio, atuei tanto no setor de redes quanto na manutenção de microcomputadores, desempenhando funções essenciais para a infraestrutura tecnológica da instituição, além de também atuar na criação de procedimentos internos e fornecer suporte na área de TI.

            Na área de redes, gerenciei servidores de DHCP, DNS, SAMBA, entre outros. Fui responsável pelo gerenciamento do Active Directory (AD). Possuo experiência com diversas distribuições Linux, incluindo Debian, Gentoo, Rocky Linux e CentOS. Além disso, trabalhei com a instalação e gerenciamento de hipervisores e máquinas virtuais.
            
            Tenho experiência na montagem e limpeza de computadores, além da formatação e instalação de sistemas operacionais Windows, Linux e macOS. Também adquiri conhecimento sobre boas práticas em TI e a aplicação de conceitos da metodologia ITIL.
          </p>
        </div>
      </div>
 
  </section>
  
</section>
